/* Fonts */

/*Font:  font-family: 'Ubuntu', sans-serif;  */
/*Font:  font-family: 'Raleway', sans-serif;  */
/*Font:  font-family: 'Quicksand', sans-serif;  */

body, html{
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

/* Nav */

.navigation{
  background-color: rgba(0,0,0,0);
  border: none;
}

/* Hero */

#hero{
  background-image: url("../img/about-hero.jpg");
  background-attachment: scroll;
  background-size: cover;
  min-height: 350px;
  background-position: 0px 0px;
}

#hero h2{
  text-align: center;
  position: relative;
  top: 40px;
  color: #fff;
}

.quote-box{
  padding-top: 8%;
}

/* About */

#about{
  height: 850px;
  background-color: #999;
  border: 10px solid;
  border-color: #777
}

.container{
  position: relative;
  top: 50px;
}

.title h3{
  text-align: center;
}

.info h2{
  text-align: center;
}

.age{
  text-align: center;
}

/* Footer */

footer{
  height: 65px;
  background-color: #777;
}

footer h3{
  text-align: center;
  color: #555;
  font-size: 15px;
}

/* Media Queries */

/*@media screen and ( min-width: 990px) {
  #about { height: 850;}
}*/
