/* Fonts */



/* Nav */

.navigation{
  background-color: rgba(0,0,0,0);
  border: none;
}

/* Hero */

#hero{
  background-image: url("../img/portfolio-hero.jpeg");
  background-attachment: scroll;
  background-size: cover;
  min-height: 350px;
  background-position: 0px -150px;
}

#hero h2{
  text-align: center;
}

.quote-box{
  padding-top: 8%;
}

/* Portfolio */

#portfolio{
  min-height: 300px;
  background-color: #999;
  border: 10px solid;
  border-color: #777
}

/* Footer */

footer{
  height: 65px;
  background-color: #777;
}

footer h3{
  text-align: center;
  color: #555;
  font-size: 15px;
}
